<!DOCTYPE HTML>
<html>
	<head>
		<meta chartset="utf-8">
		<meta name="viewport">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Preparar Unidades</title>

		<!--[DEFINICIÓN DEL CSS]-->
			<link rel="stylesheet" type="text/css" media="screen" href="../statics/css/bootstrap.css" /> 
		    <link rel="stylesheet" type="text/css" media="screen" href="../statics/css/styles.css" />  
		     <link rel="stylesheet" type="text/css" media="screen" href="../statics/css/responsive.css" />  
	    <!--[/DEFINICIÓN DEL CSS]-->
	</head>
	<body>
		<!--CONTENT-->

		<form action="/logout" method="get">
			<input id="logout" class="btn btn-primary btn-lg" role="button" type="submit" style="float:right" value="Cerrar sesion"></a>
		</form>
		<div class="panel panel-default panel_preparar">
		 	<div class="panel-heading">Selecciona tus unidades</div>
			<div class="panel-body">
		    	<div class="container unidades">
					
					<div class="bs-example ">
    					<div class="row">
    					 	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        						<a href="#" class="thumbnail">
         							<img data-src="holder.js/100%x180" alt="100%x180" src="../statics/images/uni_1.jpg" >
 	       						</a>
      						</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#" class="thumbnail">
								    <img data-src="holder.js/100%x180" alt="100%x180" src="../statics/images/uni_2.jpg" >
								</a>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
	       						<a href="#" class="thumbnail">
							    	<img data-src="holder.js/100%x180" alt="100%x180" src="../statics/images/uni_3.jpg" >
							    </a>
						    </div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#" class="thumbnail">
							    <img data-src="holder.js/100%x180" alt="100%x180" src="../statics/images/uni_4.jpg" >
							    </a>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<a href="#" class="thumbnail">
							    <img data-src="holder.js/100%x180" alt="100%x180" src="../statics/images/uni_1.jpg" >
							    </a>
							</div>
						</div>
						<div class="row">
							<center>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<a class="btn btn-primary btn-lg ir-combate" role="button">Atacar</a>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6">
									<a class="btn btn-primary btn-lg ir-combate" role="button">Asaltar</a>
								</div>
						</div>
					</div>			
								    
	   			 </div>

	   		</div>
		</div>


		
			
	    	
		<!--[DEFINICIÃ“N DEL JS]-->
		<script src="../statics/js/jquery-1.9.1.min.js"></script>
		<script src="../statics/js/bootstrap.min.js"></script>
		<!--[/DEFINICIÃ“N DEL JS]-->
	
</body>
</html>