<!DOCTYPE HTML>
<html>
	<head>
		<meta chartset="utf-8">
		<meta name="viewport">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Iniciar sesion</title>

		<!--[DEFINICIÓN DEL CSS]-->
			<link rel="stylesheet" type="text/css" media="screen" href="../statics/css/bootstrap.css" /> 
		    <link rel="stylesheet" type="text/css" media="screen" href="../statics/css/styles.css" />  
	    <!--[/DEFINICIÓN DEL CSS]-->
	</head>
	<body>
		<!--CONTENT-->
		<form action="/welcome" method="post">
			<div class="row margen"></div>
			<div class="row margen">
				<div class="col-lg-4 col-md-4 col-sm-4"></div>
				<div class="col-lg-4 col-md-4 col-sm-4">
						<input class="form-control entrada" id="ancho-tdc" placeholder="Correo electronico" name="Email" type="email">
						<input class="form-control entrada" id="ancho-tdc" placeholder="Contrase&ntilde;a" name="Password" type="password">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4"></div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4"></div>
				<div class="col-lg-4 col-md-4 col-sm-4">
	  				<center><p><input class="btn btn-primary btn-lg" role="button" type="submit" value="Iniciar sesion"></input></p></center>
	  				
	  				<center><p class="margen">Si no tiene una cuenta, puede:</p></center>
	  				<center><p><a class="btn btn-primary btn-lg" role="button" href="registrarse">Registrarse</a></p></center>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4"></div>
			</div>	
		</form>	
			

		<!--[DEFINICIÓN DEL JS]-->
		<script src="../statics/js/jquery-1.9.1.min.js"></script>
		<script src="../statics/js/bootstrap.min.js"></script>
		<!--[/DEFINICIÓN DEL JS]-->
	</body>
</html>