<!DOCTYPE HTML>
<html>
	<head>
		<meta chartset="utf-8">
		<meta name="viewport">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Combatir</title>

		<!--[DEFINICIÓN DEL CSS]-->
			<link rel="stylesheet" type="text/css" media="screen" href="../statics/css/bootstrap.css" /> 
		    <link rel="stylesheet" type="text/css" media="screen" href="../statics/css/styles.css" />  
		     <link rel="stylesheet" type="text/css" media="screen" href="../statics/css/responsive.css" />  
	    <!--[/DEFINICIÓN DEL CSS]-->
	</head>
	<body>
		<!--CONTENT-->
		<div><img class="img-bart" src="../statics/images/bart-simpson.gif"></div>	

		
		<div class="panel panel-default panel_principal">
		 	<div class="panel-heading">Selecciona tu Oponente</div>
			<div class="panel-body">
		    	<div class="container puntuaciones">
					<div class="row">
						<div class="list-group">
					     
						     	<a href="#" class="list-group-item disabled" style="height: 40px;">
						     		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">#</div>
						     		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-4">Oponente</div>
						     		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">Puntuacion</div>
						     	</a>

						      	<a href="#" class="list-group-item" style="height: 40px;">
						      		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-1">1</div>
						     		<div class="col-lg-7 col-md-7 col-sm-5 col-xs-4">@Diiaz94</div>
						     		<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">2514</div>
						     	</a>

						     	<a href="#" class="list-group-item" style="height: 40px;">
						      		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-1">2</div>
						     		<div class="col-lg-7 col-md-7 col-sm-5 col-xs-4">@MoraBocono</div>
						     		<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">2132</div>
						     	</a>

						     	<a href="#" class="list-group-item" style="height: 40px;">
						      		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-1">3</div>
						     		<div class="col-lg-7 col-md-7 col-sm-5 col-xs-4">@dsjkhdsk</div>
						     		<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">1947</div>
						     	</a>
				    	    		
				    	</div>
			    	</div>
	   			 </div>

	   			 <button type="button" class="btn btn-default navbar-btn">Preparar Unidades</button>
			</div>
		</div>


			
	    	
		<!--[DEFINICIÓN DEL JS]-->
		<script src="../statics/js/jquery-1.9.1.min.js"></script>
		<script src="../statics/js/bootstrap.min.js"></script>
		<!--[/DEFINICIÓN DEL JS]-->
	</body>
</html>